<html>
    <head>
        <link rel="stylesheet" href="style.css" charset="utf-8">
        <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>
    </head>

    <body>
        {% embed '../../accordion.html.twig' %}
        {% endembed %}
        {% embed '../../accordion.html.twig' %}
        {% endembed %}

        <script src="jquery/dist/jquery.min.js"></script>
        <script src="accordion.js"></script>
    </body>
</html>
